
Pods/
ManyHands/GoogleService-Info.plist
ManyHands.xcworkspace/xcuserdata/
ManyHands.xcworkspace/xcshareddata/
ManyHands.xcodeproj/xcuserdata/
ManyHands.xcodeproj/project.xcworkspace/xcuserdata/
ManyHands.xcodeproj/project.xcworkspace/xcshareddata/
